:root,
html,
body {
  background: rgba(0, 0, 0, 0.9) url(./assets/architecture-bg.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  --bg-secondary: rgba(9, 37, 84, 1);
  background: rgba(234, 146, 90, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  padding: 10px;
  box-shadow: -05px 5px var(--bg-secondary);
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  margin: 0 auto;
}

.card h1 {
  font-size: 1.5rem;
}
.card button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: gold;
  background: black;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  width: 200px;

  padding-right: 30px;
  transition: 0.3s;
}
.card button:hover {
  color: white;
  background: transparent;
  padding-right: 20px;
}
.card button:hover::after {
  opacity: 1;
  right: 35px;
}
.card button::after {
  content: "!!";
  font-weight: bold;
  position: absolute;
  right: 0px;
  opacity: 0;
}

.card button:active {
  border-color: white;
}

.card span {
  --diameter: 10px;
  display: inline-block;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px white solid;
  border-top-color: var(--bg-secondary);
  border-bottom-color: var(--bg-secondary);
  animation: rotate 2s infinite;
  position: absolute;
  bottom: 7px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.card span.loading {
  opacity: 1;
}

@keyframes rotate {
  50% {
    transform: rotateZ(360deg);
  }
}

.modal {
  background: white;
  padding: 20px 30px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  max-width: 300px;
  /* width: 300px; */
  color: rgba(221, 113, 113, 1);
  position: fixed;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  transition: top 0.5s;
}
.modal.slide {
  top: 50%;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
}
.modal-bg.slide {
  visibility: visible;
}

@media (min-width: 600px) {
  .card {
    max-width: 500px;
  }
  .card h1 {
    font-size: 2rem;
  }
}
