:root,
html,
body {
  background: papayawhip url(./assets/bg.png) center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  font-size: 10px;
  color: red;
}

pre {
  color: crimson;
  padding: 2em;
  background-color: gainsboro;
  border-left: 10px black solid;
}

.fetch {
  padding: 20px;
  border-radius: 10px;
  background: goldenrod;
}
.title {
  font-size: 120%;
  color: greenyellow;
  /* color: red; */
  font-style: italic;
}

.block {
  display: block;
  height: 200px;
  background: crimson;
  padding: 1rem;
}

.my_list {
  list-style: disc;
}

.card {
  background: pink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  padding: 10px;
  box-shadow: -05px 5px rgba(203, 45, 178, 0.4);
  width: 100%;
  min-width: 250px;
  margin: 0 auto;
}

.card h1 {
  font-size: calc(5vw);
}
.card button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: gold;
  background: black;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
  position: relative;

  padding-right: 30px;
  transition: 0.3s;
}
.card button:hover {
  color: black;
  background: transparent;
  padding-right: 20px;
}
.card button:hover::after {
  opacity: 1;
  right: 10px;
}
.card button::after {
  content: "!!";
  font-weight: bold;
  position: absolute;
  right: 0px;
  opacity: 0;
}

.card button:active {
  border-color: white;
}
